<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>   <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        
        <title>Proxy Glove</title>
    </head>
    <body>
        <div class="main-container">
            

        <div id="port-div">
            <select name="ports" id="ports">
            </select> 
            <button id ='openBtn' style="display: block;">Port Open</button>
            <button class="error" id ='closeBtn' style="display: none;">Port Close</button>
        </div>

        <div class="slider-container">
            <p class="name">All</p>
            <input type="range" min="0" max="180" value="180" class="slider" id="rangeAll">
            <p id="rangeAllValue">180</p>
        </div>
        
        <div class="slider-container">
            <p class="name">Offset Left</p>
            <input type="range" min="0" max="180" value="0" class="slider offset-slider" id="range1">
            <p id="range1Value">0</p>
        </div>
        
        <div class="slider-container">
            <p class="name">Offset Center</p>
            <input type="range" min="0" max="180" value="0" class="slider offset-slider" id="range2">
            <p id="range2Value">0</p>
        </div>
        
        <div class="slider-container">
            <p class="name">Offset Right</p>
            <input type="range" min="0" max="180" value="0" class="slider offset-slider" id="range3">
            <p id="range3Value">0</p>
        </div>

        <div class="slider-container">
            <p class="name">Move X</p>
            <input type="range" min="0" max="180" value="0" class="slider move-slider" id="moveX">
            <p id="moveXValue">0</p>
        </div>

        <div class="slider-container">
            <p class="name">Move Y</p>
            <input type="range" min="0" max="180" value="0" class="slider move-slider" id="moveY">
            <p id="moveYValue">0</p>
        </div>

        <!-- <svg width="300" height="300" onload="makeDraggable(evt)" style="border: 1px solid black;">
            <g transform="translate(100, 100)">
                <circle cx="50" cy="50" r="50" stroke="black" stroke-width="3" fill="none" />
                <circle id="target" cx="50" cy="50" r="5" fill="red" class="draggable" />
            </g>
        </svg>

        <p>Value: <span id="value">(0, 0, 0)</span></p> -->

        </div>
    </body>
</html>